In [35]:
file = open('SQLday9.txt', 'r')
rd=file.read()
rdw=rd.upper()
with open('SQLday9T.txt','w') as outfile:
    outfile.write(rdw)

In [39]:
read=open('SQLday9T.txt','r')
for each in read:
    print(each)

Q1--HTTPS://LEETCODE.COM/PROBLEMS/TOP-TRAVELLERS/DESCRIPTION/?ENVTYPE=STUDY-PLAN&ID=SQL-I

--RETURN THE RESULT TABLE ORDERED BY TRAVELLED_DISTANCE IN DESCENDING ORDER, IF TWO OR MORE USERS TRAVELED THE SAME DISTANCE, ORDER THEM BY THEIR NAME IN ASCENDING ORDER.



WITH CTE AS (SELECT USER_ID,SUM(DISTANCE) AS TRAVELLED_DISTANCE

FROM RIDES

GROUP BY USER_ID)

SELECT NAME,COALESCE(TRAVELLED_DISTANCE,0) AS TRAVELLED_DISTANCE

FROM USERS

LEFT JOIN CTE ON USERS.ID=CTE.USER_ID

ORDER BY TRAVELLED_DISTANCE DESC,NAME



Q2--HTTPS://LEETCODE.COM/PROBLEMS/DUPLICATE-EMAILS/DESCRIPTION/?ENVTYPE=STUDY-PLAN&ID=SQL-I

--WRITE AN SQL QUERY TO REPORT ALL THE DUPLICATE EMAILS. NOTE THAT IT'S GUARANTEED THAT THE EMAIL FIELD IS NOT NULL.

SELECT EMAIL

FROM

(SELECT EMAIL,COUNT(EMAIL) AS C

 FROM PERSON

 GROUP BY EMAIL

 HAVING C>1) AS DS  --[EVERY DERIVED TABLE MUST HAVE ITS OWN ALIAS]



 Q3---HTTPS://LEETCODE.COM/PROBLEMS/MARKET-ANALYSIS-I/?ENVTYPE=STUDY-PLAN&ID=SQL-I

--WRITE AN SQL QUERY TO FIND FOR EACH USER, THE JOIN DATE AND THE NUMBER OF ORDERS THEY MADE AS A BUYER IN 2019.

SELECT USER_ID AS BUYER_ID ,JOIN_DATE,COUNT(O.ITEM_ID) AS ORDERS_IN_2019

FROM USERS U

LEFT JOIN ORDERS O ON U.USER_ID=O.BUYER_ID AND YEAR(ORDER_DATE)='2019'

GROUP BY U.USER_ID,JOIN_DATE

In [1]:
with open('SQLday9.txt', 'r') as input_file:
    # read the contents of the file
    input_text = input_file.read()
    print(input_text)

# process the input text
output_text = input_text.upper()

# open the output file for writing
with open('SQLday93.txt', 'w') as output_file:
    # write the processed text to the file
    output_file.write(output_text)
    
with open('SQLday93.txt', 'r') as verify:    
    print(verify.read())

Q1--https://leetcode.com/problems/top-travellers/description/?envType=study-plan&id=sql-i
--Return the result table ordered by travelled_distance in descending order, if two or more users traveled the same distance, order them by their name in ascending order.

with cte as (select user_id,sum(distance) as travelled_distance
from Rides
group by user_id)
select name,coalesce(travelled_distance,0) as travelled_distance
from Users
left join cte on users.id=cte.user_id
order by travelled_distance desc,name

Q2--https://leetcode.com/problems/duplicate-emails/description/?envType=study-plan&id=sql-i
--Write an SQL query to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.
select email
from
(select email,count(email) as c
 from Person
 group by email
 having c>1) as ds  --[Every derived table must have its own alias]

 Q3---https://leetcode.com/problems/market-analysis-i/?envType=study-plan&id=sql-i
--Write an SQL query to find for each user, the join date and the number of orders they made as a buyer in 2019.
select user_id as buyer_id ,join_date,count(o.item_id) as orders_in_2019
from Users u
left join Orders o on u.user_id=o.buyer_id and year(order_date)='2019'
group by u.user_id,join_date


Q1--HTTPS://LEETCODE.COM/PROBLEMS/TOP-TRAVELLERS/DESCRIPTION/?ENVTYPE=STUDY-PLAN&ID=SQL-I
--RETURN THE RESULT TABLE ORDERED BY TRAVELLED_DISTANCE IN DESCENDING ORDER, IF TWO OR MORE USERS TRAVELED THE SAME DISTANCE, ORDER THEM BY THEIR NAME IN ASCENDING ORDER.

WITH CTE AS (SELECT USER_ID,SUM(DISTANCE) AS TRAVELLED_DISTANCE
FROM RIDES
GROUP BY USER_ID)
SELECT NAME,COALESCE(TRAVELLED_DISTANCE,0) AS TRAVELLED_DISTANCE
FROM USERS
LEFT JOIN CTE ON USERS.ID=CTE.USER_ID
ORDER BY TRAVELLED_DISTANCE DESC,NAME

Q2--HTTPS://LEETCODE.COM/PROBLEMS/DUPLICATE-EMAILS/DESCRIPTION/?ENVTYPE=STUDY-PLAN&ID=SQL-I
--WRITE AN SQL QUERY TO REPORT ALL THE DUPLICATE EMAILS. NOTE THAT IT'S GUARANTEED THAT THE EMAIL FIELD IS NOT NULL.
SELECT EMAIL
FROM
(SELECT EMAIL,COUNT(EMAIL) AS C
 FROM PERSON
 GROUP BY EMAIL
 HAVING C>1) AS DS  --[EVERY DERIVED TABLE MUST HAVE ITS OWN ALIAS]

 Q3---HTTPS://LEETCODE.COM/PROBLEMS/MARKET-ANALYSIS-I/?ENVTYPE=STUDY-PLAN&ID=SQL-I
--WRITE AN SQL QUERY TO FIND FOR EACH USER, THE JOIN DATE AND THE NUMBER OF ORDERS THEY MADE AS A BUYER IN 2019.
SELECT USER_ID AS BUYER_ID ,JOIN_DATE,COUNT(O.ITEM_ID) AS ORDERS_IN_2019
FROM USERS U
LEFT JOIN ORDERS O ON U.USER_ID=O.BUYER_ID AND YEAR(ORDER_DATE)='2019'
GROUP BY U.USER_ID,JOIN_DATE

In [3]:

try:
    inp=int(input())
    print(inp)
except:
    print("not a valid number")

in3
not a valid number

In [15]:
inp=5
try:
    inp//0
    print(inp)
except ZeroDivisionError:
    print("not a valid num")
finally:
    print("c")

not a valid num
9
c

In [22]:
inp = [1, 2, 3, 4]
zero = 0
try:
    inpt= inp[4]
except IndexError:
    print('IndexError ', end = '')
except:
    print('except IndexError  ', end = '')
finally:
    print('finally IndexError  ', end = '')
  
data = 10
try:
    data = data/0
except ZeroDivisionError:
    print('except ZeroDivisionError  ', end = '')
finally:
    print('finally ZeroDivisionError  ')

IndexError finally IndexError  except ZeroDivisionError  finally ZeroDivisionError

In [23]:
import re

In [30]:
word='gg . dd'
patern=r'\.'
r=re.search(patern,word)
print(r)

<re.Match object; span=(3, 4), match='.'>

In [32]:
s = 'my name is deelip'
 
match = re.search(r'deelip', s)
 
print('Start Index:', match.start())
print('End Index:', match.end())
print(match)

Start Index: 11
End Index: 17
<re.Match object; span=(11, 17), match='deelip'>